#clientsBtn:hover {
    -fx-effect: dropshadow(three-pass-box, #6dbc40, 15, 0, 0, 0);
}

#resourcesBtn:hover {
    -fx-effect: dropshadow(three-pass-box, #904b69, 15, 0, 0, 0);
}
#searchBtn:hover {
    -fx-effect: dropshadow(three-pass-box, #40752e, 15, 0, 0, 0);
}
#importBtn:hover {
    -fx-effect: dropshadow(three-pass-box, #753c6b, 15, 0, 0, 0);
}
#exportBtn:hover {
    -fx-effect: dropshadow(three-pass-box, #866b3d, 15, 0, 0, 0);
}